html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}

.member-data {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 12px;
}

.label {
  flex: 2;
  padding: 10px;
  font-weight: bold;
  text-align: right;
}

.input-field {
  flex: 3;
  padding: 10px;
}

.submit-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #23913d;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.add-member {
  padding: 10px 20px;
  border: none;
  background-color: #23913d;
  color: white;
  cursor: pointer;
  font-size: 16px;
}