html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    height: 100%;
}

.create-attendance-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #23913d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.create-attendance-icon {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #23913d;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #23913d; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}