html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .body {
  display: flex;
}

.title, .bottomDiv {
  flex: 1;
}

.body {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.attendanceBtn, .registerBtn {
  width: 120px;
  height: 120px;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.imgBtn {
  width: 80%;
  height: auto;
}

.bottomBtn {
  padding: 10px 15px;
  margin: 0px 10px;
  border: none;
  border-radius: 5px;
  background-color: #23913d;
  color: white;
  cursor: pointer;
  font-size: 11px;
}